.Header
{
	position: relative;
	left: 0;
	top: 0;
}

.Container
{
	position: relative;
	bottom: 0;
}

.Left
{
	left: 0;
	top: 0;
	float: left
}

.Right
{
	right: 0;
	top: 0;
	float: right
}

.DetailsLeft
{
	position: absolute;
	right: 0;
	top: 0;
}